<navbar></navbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!--    
    <app-exercice></app-exercice>
    <div class="row">
        <div class="col-6">
            <posts></posts>
        </div>
        <div class="col-6">
            <utilisateurs></utilisateurs>
        </div>
    </div>
    <github-followers></github-followers>
    <div class=" container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <signup-form></signup-form>
        </div>
    </div>
</div>


<app-projet></app-projet>


 
    <div class="container">

    <input type="text" [appInputFormat]="'uppercase'"><br>
    <search></search>

    <ul>
        <button class="btn btn-info" (click)="loadCourses()">Load</button>
        <button class="btn btn-info" (click)="addCourse()">Add</button>
        <li *ngFor="let course of courses;index as isEven;trackBy : trackCourses">
            <span *ngIf="isEven >= 0">{{isEven}} : </span> {{course.id}} {{course.title}}
            <button class="btn btn-danger" (click)="removeCourse(course)">Remove</button>
            <button class="btn btn-warning" (click)="updateCourse(course)">Update</button>
        </li>
    </ul>
        <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" [class.active]="viewCourse == 'Laravel'"
                (click)="viewCourse = 'Laravel'">Laravel</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="viewCourse == 'Symphonie'"
                (click)="viewCourse = 'Symphonie'">Symphonie</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="viewCourse == 'Angular'"
                (click)="viewCourse = 'Angular'">Angular</a></li>
    </ul>
    <div [ngSwitch]="viewCourse">
        <div *ngSwitchCase="'Laravel'">Lorem Laravel</div>
        <div *ngSwitchCase="'Symphonie'">Lorem Symphonie</div>
        <div *ngSwitchCase="'Angular'">Lorem Angular</div>
        <div *ngSwitchDefault>Autre chose ...</div>
    </div>
    
        Directive ngIf 
    <div *ngIf="courses.length > 0 ; then listCourses ;else noCourses">
    </div>
    <ng-template #listCourses>
        Liste de mes cours
    </ng-template>
    <ng-template #noCourses>
        Pas de cours
    </ng-template>
    -->
<!--
    <app-projet></app-projet>
    <search [stat]="post.status" (ch)="onStatusChange($event)"></search>
    <img [src]="image" (click)="onClickImage()">
    <h1>Notre Application Angular 5</h1>
    <courses></courses>
    <p>{{body | resume:10}}</p>
  
    <panel>
        <div class="header">This is header</div>
        <div class="body">
            <h3>This is content</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nesciunt alias vitae ratione officia
                maiores? Laborum voluptatum illo, voluptas iste molestias quas sed, assumenda animi maiores hic
                doloremque magnam. Harum.
            </p>
        </div>
    </panel>
    
    <panel>
        <div class="header">Header</div>
        <div class="body">Body</div>
    </panel>
    
</div>

-->